.swiper-slide{
    height: auto!important;
}

.eventSwiper .swiper-pagination{
    margin-top: 2rem;
    position: relative;
}

.eventSwiper .swiper-pagination .swiper-pagination-bullet-active{
    background: white!important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: #007a91!important;;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: #007a91!important;;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 768px) {

    .swiper-mobile-mod{
        overflow: visible!important;
        width: 80%;
        margin-left: 0px;
        margin-right: auto
    }
}


/**.swiper-mobile-mod-warpper{*/