---


import '../../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticlesForPlace from '../../components/react/ArticlesForPlace'; 
import { getLocBySlug } from '../../lib/article';


Astro.response.headers.set('Cache-Control', 's-maxage=10800')

const { kraj } = Astro.params;

const place = await getLocBySlug(kraj);

const kraj_sl = place.postacf.slovensko_ime;
const kraj_at = place.postacf.nemsko_ime;
const placeid = place.ID;


---


<BaseLayout pageTitle={place.slovensko_ime}>
  
    <section class="bg-kosuta-grey px-1 md:px-4 pt-12 overflow-hidden">
        <div class="mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
            <div class="flex flex-col w-full items-center">
                <div class="bg-klopinj-blue rounded-lg p-3 max-w-72 aspect-ktabla my-4">
                    <div class=" bg-sneg-white">
                        <h1 class="text-center uppercase text-3xl text-klopinj-blue font-light md:text-4xl lg:text-5xl mx-8 leading-novice py-6">
                            <span class="block">{kraj_sl}</span>
                            <span class="block mt-2">{kraj_at}</span>
                        </h1>
                    </div>
                </div>
                
            
            </div>
        </div>
        
    </section>
  <section class="px-1 md:px-4 md:pt-12 pb-24">
      <div class=" mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
        
       
            <ArticlesForPlace place={placeid} client:load />
        
      </div>
  </section>


</BaseLayout>

